body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}*/

.header-menu {
  background-color: #282c34;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headlines-news {
  padding: 10px;
  font-size: 20px;
  display: block
}

.category-title {
  padding: 10px;
  font-size: 60px;
}

.article-content {
  width: 25rem;
  height: 35rem;
  margin-bottom: 20px;
}

.category-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.centered-loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: #282c34;
}

.btn.nav-bar {
  background-color: #ffffff;
  color: #757575;
  border: solid #acacac 1px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: .02em;
  padding: 10px 11.4rem;
}

.img-card {
  width: 100%;
}

.read-button {
  height: 0px;
  padding-top: 0px;
  overflow:hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top:570px;
	position:absolute;
  color: #FFF;
  left: -4%
}

.article-content:hover .read-button {
	margin-top:495px;
  height:69px;
	padding-top: 10px;
}